@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #6941c6,
    ),
  ),
  $border-radius: (
    "base": 10px,
  ),
  //inputs
  $input:
    (
      "border": #cecece,
      "bg-color": #ffffff,
      "text-color": rgba(24, 28, 37, 0.75),
    ),
  $common-component-size: (
    "default": 40px,
  ),
  $input-padding-horizontal: (
    "large": 12px,
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;
